fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
faiss-cpu
hf_xet
pandas
sentence-transformers
pydantic
transformers>=5.0.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability