fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
faiss-cpu
hf_xet
pandas
sentence-transformers
pydantic
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability