fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
faiss-cpu
hf_xet
pandas
sentence-transformers
pydantic
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability